cat .gitignore

.github
.idea
Portfolio
venv
my_site/Гайд по привязке базы данных MySQL к серверу.txt
my_site/Гайд по развертыванию сайта.txt
my_site/db.sqlite3
*.bak
*.json
*.sqlite3

my_site/sekretkey.txt
my_site/mail_password.txt