    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Savushkin::Resume</title>
    {% endblock %}
    {% load static %}
    {% load i18n %}
    {% load static i18n %}
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'site_app/vendors/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'site_app/css/live-resume.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'site_app/images/icon.ico' %}"/>


    </style>
</head>

<body>
          {% block lang %}
          {% load i18n %}
          <div style="text-align: right">
          <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% for language in LANGUAGES %}
              {% if language.0 != LANGUAGE_CODE %}
              <button type="submit" name="language" value="{{ language.0 }}"
                      class="btn btn-primary btn-hire-me">
                  {{ language.1 }}
              </button>
              {% endif %}
              {% endfor %}
          </form>
          </div>
        {% endblock lang %}
    <header>
        {% block nav %}
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'site_app:index' %}" class="nav-link active">{% trans "ГОЛОВНА" %}</a>
            <a href="{% url 'site_app:skills' %}" class="nav-link">{% trans "ВМІННЯ" %}</a>
            <a href="{% url 'site_app:portfolio' %}" class="nav-link">{% trans "ПОРТФОЛІО" %}</a>
            <a href="{% url 'site_app:contacts' %}" class="nav-link">{% trans "ЗВ'ЯЗОК" %}</a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static 'site_app/images/hamburger.svg' %}" alt="hamburger"></button>

        {% endblock %}
    </header>
    <div class="content-wrapper">
        <aside>
            {% for info in information %}
            <div class="profile-img-wrapper">
                <img src="{{ info.photo.url }}" alt="profile">
            </div>
            <h1 class="profile-name">{{ info.fio|upper }}</h1>
            <div class="text-center">
                <span class="badge badge-white badge-pill profile-designation">{{ info.position|upper }}</span>
            </div>
            <nav class="social-links">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100012944310452" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/Vivog?tab=repositories/" class="social-link"><i class="fab fa-github"></i></a>
                <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto"><img src="{% static 'site_app/images/share.svg' %}" alt="share" class="btn-img">
           {% trans "ПОДІЛИТИСЯ" %}</button>
            </nav>
            <div class="widget">
                <h5 class="widget-title"><strong>{% trans "ОСОБИСТА ІНФОРМАЦІЯ" %}:</strong></h5>
                <div class="widget-content">
                    <p><span>{% trans "ДАТА НАРОДЖЕННЯ" %}: </span>{{ info.birthday }}</p>
                    <p><span>{% trans "ТЕЛЕФОН" %}: </span><a style="color: black" href="{% url 'site_app:contacts' %}">{{ info.phone }}</a></p>
                    <p><span>{% trans "ПОШТА" %}: </span><a style="color: black" href="{% url 'site_app:contacts' %}">{{ info.email }}</a></p>
                    <p><span>{% trans "РОЗТАШУВАННЯ" %}:  </span><a target="_blank" style="color: black" href="https://www.google.com/maps/place/%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2,+%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0,+54000/@46.974009,31.99491,14z/data=!4m5!3m4!1s0x40c5cb89fb7213d5:0xc85f820a74a1e13c!8m2!3d46.975033!4d31.9945829?hl=ru-RU">{{ location_sity.0}}, {{location_country.0}}</a></p>
                    <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="{% static 'site_app/images/download.svg' %}" alt="download"
                        class="btn-img"><a href="{% url 'site_app:downloadcv' %}" style="color: white">{% trans "ЗАВАНТАЖИТИ CV" %}</a></button>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title"><strong>{% trans "МОВИ" %}: </strong></h5>
                        {% for l in langs %}
                        <p>{{ l.get_language_display|upper }}: {{ l.get_level_display|upper }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title"><strong>{% trans "ЗАХОПЛЕННЯ" %}:</strong></h5>
                        {% for i in interests %}
                        <p>{{ i.interest|upper }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>
        <main>
        {% block content %} {% endblock content%}
            {% block carusel %}

             <section class="testimonial-section">
                <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p style="font-size: 12px; max-width: 350px; height: 50px" class="testimonial-content">{{ whyme.0.about }}</p>
                            <img src="{{ info.photo.url }}" style="width: 40px; height: 40px" alt="profile" class="testimonial-img">
                            <p style="font-size: 14px" class="testimonial-name">{{ whyme.0.type }}</p>
                        </div>
                         {% for wm in whyme|slice:'1:' %}
                        <div class="carousel-item">
                            <p style="font-size: 12px; max-width: 350px; height: 50px" class="testimonial-content">{{wm.about}}</p>
                            <img src="{{ info.photo.url }}" style="width: 40px; height: 40px" alt="profile" class="testimonial-img">
                            <p style="font-size: 14px" class="testimonial-name">{{wm.type}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </section>

            {% endblock %}

<!--            endfor of information-->
            {% endfor %}

            <footer>{% trans "Власне резюме. Усі права захищено 2022" %}</footer>
        </main>
    </div>
    <script src="{% static 'site_app/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'site_app/vendors/@popperjs/core/dist/umd/popper-base.min.js' %}"></script>
    <script src="{% static 'site_app/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'site_app/js/live-resume.js' %}"></script>
</body>

</html>
