{% extends 'site_app/base.html' %}
{% block content %}
 <section class="intro-section">
                {% for info in information%}
                <h2 class="section-title">Привіт я, {{ info.fio }}</h2>
                <p style="font-size: 14px">{{ info.about}}</p>
                <a href="#!" class="btn btn-primary btn-hire-me">Запропонуй мені роботу</a>
                {% endfor %}
            </section>
 <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">РЕЗЮМЕ</h6>
                        <h2 class="section-title">ОСВІТА</h2>
                        <ul class="time-line">
                            {% for ed in educations %}
                            <li class="time-line-item">
                                <span style="font-size: 14px" class="badge badge-primary">{{ ed.ex_year_start }} - {{ ed.ex_year_over }}</span>
                                <h6 style="font-size: 12px" class="time-line-item-title">{{ ed.get_degree_display }} - {{ ed.spec }}</h6>
                                <p style="font-size: 12px" class="time-line-item-subtitle">{{ ed.univer }}</p>
                                <p style="font-size: 12px" class="time-line-item-content">{{ ed.about }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">РЕЗЮМЕ</h6>
                        <h2 class="section-title">ПОПЕРЕДНІ МІСЦЯ РОБОТИ</h2>
                        <ul class="time-line">
                            {% for wp in workplaces %}
                            <li class="time-line-item">
                                <span style="font-size: 14px" class="badge badge-primary">{{ wp.ex_year_start }} - {{ wp.ex_year_over }}</span>
                                <h6 style="font-size: 12px" class="time-line-item-title">{{ wp.prof }}</h6>
                                <p style="font-size: 12px" class="time-line-item-subtitle">{{ wp.firma }}</p>
                                <p style="font-size: 12px" class="time-line-item-content">{{ wp.about }}</p>
                            </li>
                             {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>


{% endblock %}