{% extends 'site_app/base.html' %}
{% load static %}
{% block nav %}
<nav class="collapsible-nav" id="collapsible-nav">
    <a href="{% url 'site_app:portfolio'%}" class="nav-link active">ПОРТФОЛІО</a>
    <a href="{% url 'site_app:index' %}" class="nav-link">ГОЛОВНА</a>
    <a href="{% url 'site_app:skills' %}" class="nav-link">ВМІННЯ</a>
    <a href="{% url 'site_app:contacts' %}" class="nav-link">ЗВ'ЯЗОК</a>
</nav>
<button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
        data-target="collapsible-nav"><img src="{% static 'site_app/images/hamburger.svg' %}" alt="hamburger"></button>
{% endblock %}

{% block content %}
<section class="portfolio-section">
                <h2 class="section-title">ПОРТФОЛІО</h2>
                <div class="portfolio-wrapper">
                    <figure style="width: calc(50% - 10.5px); height: 400px" class="portfolio-item hover-box">
                        <a href="https://github.com/Vivog/LabStaff32" target="_blank">
                            <img src="{% static 'site_app/images/project1.png' %}" alt="project" class="portfolio-item-img"
                                 style="max-width: 800px; max-height: 300px"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">ПРОЕКТ 01</h5>
                            <p class="portfolio-item-description">Tkinter Python</p>
                        </figcaption>
                    </figure>
                    <figure style="width: calc(50% - 10.5px); height: 400px" class="portfolio-item hover-box">
                        <a href="https://github.com/Vivog/PortalNDV" target="_blank">
                            <img src="{% static 'site_app/images/project2.png' %}" alt="project" class="portfolio-item-img"
                            style="max-width: 800px; max-height: 300px"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">ПРОЕКТ 02</h5>
                            <p class="portfolio-item-description">Django Python</p>
                        </figcaption>
                    </figure>
                    <figure style="width: calc(50% - 10.5px); height: 400px" class="portfolio-item hover-box">
                        <a href="https://github.com/Vivog/Resume" target="_blank">
                            <img src="{% static 'site_app/images/project3.png' %}" alt="project" class="portfolio-item-img"
                            style="max-width: 800px; max-height: 300px"></a>
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">ПРОЕКТ 03</h5>
                            <p class="portfolio-item-description">Django Python</p>
                        </figcaption>
                    </figure>
                </div>
            </section>
{% endblock %}
<!--main info section-->