{% extends 'site_app/base.html' %}
{% load static %}
{% block nav %}
<nav class="collapsible-nav" id="collapsible-nav">
    <a href="{% url 'site_app:skills' %}" class="nav-link active">ВМІННЯ</a>
    <a href="{% url 'site_app:index' %}" class="nav-link">ГОЛОВНА</a>
    <a href="{% url 'site_app:portfolio' %}" class="nav-link">ПОРТФОЛІО</a>
    <a href="{% url 'site_app:contacts' %}" class="nav-link">ЗВ'ЯЗОК</a>
</nav>
<button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
        data-target="collapsible-nav"><img src="{% static 'site_app/images/hamburger.svg' %}" alt="hamburger"></button>
{% endblock %}
<!--main info section-->
{% block content %}
<section class="resume-section">
    <div class="row">
    {% for skl in skills %}
        <div class="col-lg-6">
            <h6 class="section-subtitle">ВМІННЯ</h6>
            <h2 class="section-title">{{ skl.skill }}</h2>
                {% for sh in skl.stages.all %}
            <ul class="time-line">
                <li class="time-line-item">
                    <span style="font-size: 14px" class="badge badge-primary">{{ sh.date_start }} - {{ sh.date_over }}</span>
                    <h6 style="font-size: 12px" class="time-line-item-title">{{ sh.stage }}</h6>
                    <p style="font-size: 12px" class="time-line-item-content">{{ sh.about }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</section>

{% endblock %}
<!--main info section-->